# XML, HTML, and Web Scraping

JSON and XML are two different ways to represent hierarchical data. Which one is better? There are lots of articles online which discuss similarities and differences between JSON and XML and their advantages and disadvantages. Both formats are still in current usage, so it is good to be familiar with both. However, JSON is more common, so we'll focus on working with JSON representations of hierarchical data.

The reading covered an example of using Beautiful Soup to parse XML. Rather than doing another example XML now, we'll skip straight to scraping HTML from a webpage. Both HTML and XML can be parsed in a similar way with Beautiful Soup.

In [1]:
import pandas as pd

## Scraping an HTML table with Beautiful Soup

Open the URL https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population and scroll down until you see a table of the cities in the U.S. with population over 100,000 (as of Jul 1, 2022). We'll use Beautiful Soup to scrape information from this table.

Read in the HTML from the ULR using the `requests` library.

In [2]:
import requests

response = requests.get("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population")

Use Beautiful Soup to parse this string into a tree called `soup`

In [3]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

To find an HTML tag corresponding to a specific element on a webpage, right-click on it and choose "Inspect element". Go to the cities table Wikipedia page and do this now.

You should find that the cities table on the Wikipedia page corresponds to the element

```
<table class="wikitable sortable jquery-tablesorter" style="text-align:center">
```

There are many `<table>` tags on the page.

In [4]:
len(soup.find_all("table"))

10

We can use attributes like `class=` and `style=` to narrow down the list.

In [5]:
len(soup.find_all("table",
                  attrs={
                      "class": "wikitable sortable",
                      "style": "text-align:center"}
                  ))

0

In [6]:
len(soup.find_all("table",
                  attrs={
                      "class": "wikitable",
                      "style": "text-align:right"}
                  ))

3

At this point, you can manually inspect the tables on the webpage to find that the one we want is the first one (see `[0]` below). We'll store this as `table`.

In [7]:
table = soup.find_all("table",
                  attrs={
                      "class": "wikitable",
                      "style": "text-align:right"}
                  )[0]

**Now you will write code to scrape the information in `table` to create a Pandas data frame with one row for each city and columns for: city, state, population (2022 estimate), and 2020 land area (sq mi).** Refer to the Notes/suggestions below as you write your code. A few Hints are provided further down, but try coding first before looking at the hints.

Notes/suggestions:

- Use as a guide the code from the reading that produced the data frame of Statistics faculty
- Inspect the page source as you write your code
- You will need to write a loop to get the information for all cities, but you might want to try just scraping the info for New York first
- You will need to pull the text from the tag. If `.text` returns text with "\n" at the end, try `.get_text(strip = True)` instead of `.text`
- Don't forget to convert to a Pandas Data Frame; it should have 333 rows and 4 columns
- The goal of this exercise is just to create the Data Frame. If you were going to use it --- e.g., what is the population density for all cities in CA? --- then you would need to clean the data first (to clean strings and convert to quantitative). (You can use Beautiful Soup to do some of the cleaning for you, but that goes beyond our scope.)

In [8]:
# initialize an empty list
rows = []

# iterate over all rows in the table, skipping the first row (header row)
for row in table.find_all("tr")[1:]:
    
    # Get all the cells (<td>) in the current row.
    cells = row.find_all("td")

    # Make sure there are enough cells in the row (to avoid IndexError)
    if len(cells) >= 5:
        # Find the name of the city in cell[0], looking for a link (<a>) or just the text in the <td>.
        city_tag = cells[0].find("a") or cells[0]
        city = city_tag.get_text(strip=True)

        # Find the state in cell[1]
        state = cells[1].get_text(strip=True)

        # Find the population in cell[3]
        population = cells[3].get_text(strip=True)

        # Find the land area in cell[2] (make sure you access the right cell index)
        landarea = cells[5].get_text(strip=True)

        # Append this data to the rows list.
        rows.append({
            "city": city,
            "state": state,
            "population": population,
            "land area": landarea
        })

# Output the extracted data (for example, print the first 5 rows)
for row in rows[:5]:
    print(row)

{'city': 'New York', 'state': 'NY', 'population': '8,804,190', 'land area': '300.5'}
{'city': 'Los Angeles', 'state': 'CA', 'population': '3,898,747', 'land area': '469.5'}
{'city': 'Chicago', 'state': 'IL', 'population': '2,746,388', 'land area': '227.7'}
{'city': 'Houston', 'state': 'TX', 'population': '2,304,580', 'land area': '640.4'}
{'city': 'Phoenix', 'state': 'AZ', 'population': '1,608,139', 'land area': '518.0'}

In [9]:
print(rows)

[{'city': 'New York', 'state': 'NY', 'population': '8,804,190', 'land area': '300.5'}, {'city': 'Los Angeles', 'state': 'CA', 'population': '3,898,747', 'land area': '469.5'}, {'city': 'Chicago', 'state': 'IL', 'population': '2,746,388', 'land area': '227.7'}, {'city': 'Houston', 'state': 'TX', 'population': '2,304,580', 'land area': '640.4'}, {'city': 'Phoenix', 'state': 'AZ', 'population': '1,608,139', 'land area': '518.0'}, {'city': 'Philadelphia', 'state': 'PA', 'population': '1,603,797', 'land area': '134.4'}, {'city': 'San Antonio', 'state': 'TX', 'population': '1,434,625', 'land area': '498.8'}, {'city': 'San Diego', 'state': 'CA', 'population': '1,386,932', 'land area': '325.9'}, {'city': 'Dallas', 'state': 'TX', 'population': '1,304,379', 'land area': '339.6'}, {'city': 'Jacksonville', 'state': 'FL', 'population': '949,611', 'land area': '747.3'}, {'city': 'Austin', 'state': 'TX', 'population': '961,855', 'land area': '319.9'}, {'city': 'Fort Worth', 'state': 'TX', 'population': '918,915', 'land area': '347.3'}, {'city': 'San Jose', 'state': 'CA', 'population': '1,013,240', 'land area': '178.3'}, {'city': 'Columbus', 'state': 'OH', 'population': '905,748', 'land area': '220.0'}, {'city': 'Charlotte', 'state': 'NC', 'population': '874,579', 'land area': '308.3'}, {'city': 'Indianapolis', 'state': 'IN', 'population': '887,642', 'land area': '361.6'}, {'city': 'San Francisco', 'state': 'CA', 'population': '873,965', 'land area': '46.9'}, {'city': 'Seattle', 'state': 'WA', 'population': '737,015', 'land area': '83.8'}, {'city': 'Denver', 'state': 'CO', 'population': '715,522', 'land area': '153.1'}, {'city': 'Oklahoma City', 'state': 'OK', 'population': '681,054', 'land area': '606.2'}, {'city': 'Nashville', 'state': 'TN', 'population': '689,447', 'land area': '475.8'}, {'city': 'Washington', 'state': 'DC', 'population': '689,545', 'land area': '61.1'}, {'city': 'El Paso', 'state': 'TX', 'population': '678,815', 'land area': '258.4'}, {'city': 'Las Vegas', 'state': 'NV', 'population': '641,903', 'land area': '141.8'}, {'city': 'Boston', 'state': 'MA', 'population': '675,647', 'land area': '48.3'}, {'city': 'Detroit', 'state': 'MI', 'population': '639,111', 'land area': '138.7'}, {'city': 'Portland', 'state': 'OR', 'population': '652,503', 'land area': '133.5'}, {'city': 'Louisville', 'state': 'KY', 'population': '633,045', 'land area': '324.9'}, {'city': 'Memphis', 'state': 'TN', 'population': '633,104', 'land area': '297.0'}, {'city': 'Baltimore', 'state': 'MD', 'population': '585,708', 'land area': '80.9'}, {'city': 'Milwaukee', 'state': 'WI', 'population': '577,222', 'land area': '96.2'}, {'city': 'Albuquerque', 'state': 'NM', 'population': '564,559', 'land area': '187.3'}, {'city': 'Tucson', 'state': 'AZ', 'population': '542,629', 'land area': '241.0'}, {'city': 'Fresno', 'state': 'CA', 'population': '542,107', 'land area': '115.2'}, {'city': 'Sacramento', 'state': 'CA', 'population': '524,943', 'land area': '98.6'}, {'city': 'Mesa', 'state': 'AZ', 'population': '504,258', 'land area': '138.7'}, {'city': 'Atlanta', 'state': 'GA', 'population': '498,715', 'land area': '135.3'}, {'city': 'Kansas City', 'state': 'MO', 'population': '508,090', 'land area': '314.7'}, {'city': 'Colorado Springs', 'state': 'CO', 'population': '478,961', 'land area': '195.4'}, {'city': 'Omaha', 'state': 'NE', 'population': '486,051', 'land area': '141.6'}, {'city': 'Raleigh', 'state': 'NC', 'population': '467,665', 'land area': '147.1'}, {'city': 'Miami', 'state': 'FL', 'population': '442,241', 'land area': '36.0'}, {'city': 'Virginia Beach', 'state': 'VA', 'population': '459,470', 'land area': '244.7'}, {'city': 'Long Beach', 'state': 'CA', 'population': '466,742', 'land area': '50.7'}, {'city': 'Oakland', 'state': 'CA', 'population': '440,646', 'land area': '55.9'}, {'city': 'Minneapolis', 'state': 'MN', 'population': '429,954', 'land area': '54.0'}, {'city': 'Bakersfield', 'state': 'CA', 'population': '403,455', 'land area': '149.8'}, {'city': 'Tulsa', 'state': 'OK', 'population': '413,066', 'land area': '197.5'}, {'city': 'Tampa', 'state': 'FL', 'population': '384,959', 'land area': '114.0'}, {'city': 'Arlington', 'state': 'TX', 'population': '394,266', 'land area': '95.9'}, {'city': 'Wichita', 'state': 'KS', 'population': '397,532', 'land area': '162.0'}, {'city': 'Aurora', 'state': 'CO', 'population': '386,261', 'land area': '160.1'}, {'city': 'New Orleans', 'state': 'LA', 'population': '383,997', 'land area': '169.5'}, {'city': 'Cleveland', 'state': 'OH', 'population': '372,624', 'land area': '77.7'}, {'city': 'Honolulu', 'state': 'HI', 'population': '350,964', 'land area': '60.5'}, {'city': 'Anaheim', 'state': 'CA', 'population': '346,824', 'land area': '50.3'}, {'city': 'Henderson', 'state': 'NV', 'population': '317,610', 'land area': '106.2'}, {'city': 'Orlando', 'state': 'FL', 'population': '307,573', 'land area': '110.6'}, {'city': 'Lexington', 'state': 'KY', 'population': '322,570', 'land area': '283.6'}, {'city': 'Stockton', 'state': 'CA', 'population': '320,804', 'land area': '62.2'}, {'city': 'Riverside', 'state': 'CA', 'population': '314,998', 'land area': '81.2'}, {'city': 'Corpus Christi', 'state': 'TX', 'population': '317,863', 'land area': '162.2'}, {'city': 'Irvine', 'state': 'CA', 'population': '307,670', 'land area': '65.6'}, {'city': 'Cincinnati', 'state': 'OH', 'population': '309,317', 'land area': '77.8'}, {'city': 'Santa Ana', 'state': 'CA', 'population': '310,227', 'land area': '27.3'}, {'city': 'Newark', 'state': 'NJ', 'population': '311,549', 'land area': '24.1'}, {'city': 'Saint Paul', 'state': 'MN', 'population': '311,527', 'land area': '52.0'}, {'city': 'Pittsburgh', 'state': 'PA', 'population': '302,971', 'land area': '55.4'}, {'city': 'Greensboro', 'state': 'NC', 'population': '299,035', 'land area': '129.6'}, {'city': 'Durham', 'state': 'NC', 'population': '283,506', 'land area': '112.8'}, {'city': 'Lincoln', 'state': 'NE', 'population': '291,082', 'land area': '97.7'}, {'city': 'Jersey City', 'state': 'NJ', 'population': '292,449', 'land area': '14.7'}, {'city': 'Plano', 'state': 'TX', 'population': '285,494', 'land area': '71.7'}, {'city': 'Anchorage', 'state': 'AK', 'population': '291,247', 'land area': '1,706.8'}, {'city': 'North Las Vegas', 'state': 'NV', 'population': '262,527', 'land area': '101.3'}, {'city': 'St. Louis', 'state': 'MO', 'population': '301,578', 'land area': '61.7'}, {'city': 'Madison', 'state': 'WI', 'population': '269,840', 'land area': '79.6'}, {'city': 'Chandler', 'state': 'AZ', 'population': '275,987', 'land area': '65.3'}, {'city': 'Gilbert', 'state': 'AZ', 'population': '267,918', 'land area': '68.6'}, {'city': 'Reno', 'state': 'NV', 'population': '264,165', 'land area': '108.8'}, {'city': 'Buffalo', 'state': 'NY', 'population': '278,349', 'land area': '40.4'}, {'city': 'Chula Vista', 'state': 'CA', 'population': '275,487', 'land area': '49.6'}, {'city': 'Fort Wayne', 'state': 'IN', 'population': '263,886', 'land area': '110.7'}, {'city': 'Lubbock', 'state': 'TX', 'population': '257,141', 'land area': '134.6'}, {'city': 'Toledo', 'state': 'OH', 'population': '270,871', 'land area': '80.5'}, {'city': 'St. Petersburg', 'state': 'FL', 'population': '258,308', 'land area': '61.8'}, {'city': 'Laredo', 'state': 'TX', 'population': '255,205', 'land area': '106.5'}, {'city': 'Irving', 'state': 'TX', 'population': '256,684', 'land area': '67.0'}, {'city': 'Chesapeake', 'state': 'VA', 'population': '249,422', 'land area': '338.5'}, {'city': 'Glendale', 'state': 'AZ', 'population': '248,325', 'land area': '61.6'}, {'city': 'Winston-Salem', 'state': 'NC', 'population': '249,545', 'land area': '132.7'}, {'city': 'Port St. Lucie', 'state': 'FL', 'population': '204,851', 'land area': '119.2'}, {'city': 'Scottsdale', 'state': 'AZ', 'population': '241,361', 'land area': '184.0'}, {'city': 'Garland', 'state': 'TX', 'population': '246,018', 'land area': '57.1'}, {'city': 'Boise', 'state': 'ID', 'population': '235,684', 'land area': '84.0'}, {'city': 'Norfolk', 'state': 'VA', 'population': '238,005', 'land area': '53.3'}, {'city': 'Spokane', 'state': 'WA', 'population': '228,989', 'land area': '68.8'}, {'city': 'Richmond', 'state': 'VA', 'population': '226,610', 'land area': '59.9'}, {'city': 'Fremont', 'state': 'CA', 'population': '230,504', 'land area': '78.3'}, {'city': 'Huntsville', 'state': 'AL', 'population': '215,006', 'land area': '218.1'}, {'city': 'Frisco', 'state': 'TX', 'population': '200,509', 'land area': '68.6'}, {'city': 'Cape Coral', 'state': 'FL', 'population': '194,016', 'land area': '106.0'}, {'city': 'Santa Clarita', 'state': 'CA', 'population': '228,673', 'land area': '70.8'}, {'city': 'San Bernardino', 'state': 'CA', 'population': '222,101', 'land area': '62.1'}, {'city': 'Tacoma', 'state': 'WA', 'population': '219,346', 'land area': '49.7'}, {'city': 'Hialeah', 'state': 'FL', 'population': '223,109', 'land area': '21.6'}, {'city': 'Baton Rouge', 'state': 'LA', 'population': '227,470', 'land area': '86.3'}, {'city': 'Modesto', 'state': 'CA', 'population': '218,464', 'land area': '43.0'}, {'city': 'Fontana', 'state': 'CA', 'population': '208,393', 'land area': '43.1'}, {'city': 'McKinney', 'state': 'TX', 'population': '195,308', 'land area': '67.0'}, {'city': 'Moreno Valley', 'state': 'CA', 'population': '208,634', 'land area': '51.3'}, {'city': 'Des Moines', 'state': 'IA', 'population': '214,133', 'land area': '88.2'}, {'city': 'Fayetteville', 'state': 'NC', 'population': '208,501', 'land area': '148.3'}, {'city': 'Salt Lake City', 'state': 'UT', 'population': '199,723', 'land area': '110.3'}, {'city': 'Yonkers', 'state': 'NY', 'population': '211,569', 'land area': '18.0'}, {'city': 'Worcester', 'state': 'MA', 'population': '206,518', 'land area': '37.4'}, {'city': 'Rochester', 'state': 'NY', 'population': '211,328', 'land area': '35.8'}, {'city': 'Sioux Falls', 'state': 'SD', 'population': '192,517', 'land area': '79.1'}, {'city': 'Little Rock', 'state': 'AR', 'population': '202,591', 'land area': '120.0'}, {'city': 'Amarillo', 'state': 'TX', 'population': '200,393', 'land area': '102.3'}, {'city': 'Tallahassee', 'state': 'FL', 'population': '196,169', 'land area': '100.9'}, {'city': 'Grand Prairie', 'state': 'TX', 'population': '196,100', 'land area': '72.6'}, {'city': 'Columbus', 'state': 'GA', 'population': '206,922', 'land area': '216.5'}, {'city': 'Augusta', 'state': 'GA', 'population': '202,081', 'land area': '302.3'}, {'city': 'Peoria', 'state': 'AZ', 'population': '190,985', 'land area': '176.1'}, {'city': 'Oxnard', 'state': 'CA', 'population': '202,063', 'land area': '26.5'}, {'city': 'Knoxville', 'state': 'TN', 'population': '190,740', 'land area': '98.7'}, {'city': 'Overland Park', 'state': 'KS', 'population': '197,238', 'land area': '75.2'}, {'city': 'Birmingham', 'state': 'AL', 'population': '200,733', 'land area': '147.0'}, {'city': 'Grand Rapids', 'state': 'MI', 'population': '198,917', 'land area': '44.8'}, {'city': 'Vancouver', 'state': 'WA', 'population': '190,915', 'land area': '48.7'}, {'city': 'Montgomery', 'state': 'AL', 'population': '200,603', 'land area': '159.9'}, {'city': 'Huntington Beach', 'state': 'CA', 'population': '198,711', 'land area': '27.0'}, {'city': 'Providence', 'state': 'RI', 'population': '190,934', 'land area': '18.4'}, {'city': 'Brownsville', 'state': 'TX', 'population': '186,738', 'land area': '131.5'}, {'city': 'Tempe', 'state': 'AZ', 'population': '180,587', 'land area': '39.9'}, {'city': 'Akron', 'state': 'OH', 'population': '190,469', 'land area': '61.9'}, {'city': 'Glendale', 'state': 'CA', 'population': '196,543', 'land area': '30.5'}, {'city': 'Chattanooga', 'state': 'TN', 'population': '181,099', 'land area': '142.4'}, {'city': 'Fort Lauderdale', 'state': 'FL', 'population': '182,760', 'land area': '34.6'}, {'city': 'Newport News', 'state': 'VA', 'population': '186,247', 'land area': '69.0'}, {'city': 'Mobile', 'state': 'AL', 'population': '187,041', 'land area': '139.5'}, {'city': 'Ontario', 'state': 'CA', 'population': '175,265', 'land area': '50.0'}, {'city': 'Clarksville', 'state': 'TN', 'population': '166,722', 'land area': '99.4'}, {'city': 'Cary', 'state': 'NC', 'population': '174,721', 'land area': '59.2'}, {'city': 'Elk Grove', 'state': 'CA', 'population': '176,124', 'land area': '42.0'}, {'city': 'Shreveport', 'state': 'LA', 'population': '187,593', 'land area': '107.8'}, {'city': 'Eugene', 'state': 'OR', 'population': '176,654', 'land area': '44.2'}, {'city': 'Aurora', 'state': 'IL', 'population': '180,542', 'land area': '45.0'}, {'city': 'Salem', 'state': 'OR', 'population': '175,535', 'land area': '48.8'}, {'city': 'Santa Rosa', 'state': 'CA', 'population': '178,127', 'land area': '42.5'}, {'city': 'Rancho Cucamonga', 'state': 'CA', 'population': '174,453', 'land area': '40.1'}, {'city': 'Pembroke Pines', 'state': 'FL', 'population': '171,178', 'land area': '32.7'}, {'city': 'Fort Collins', 'state': 'CO', 'population': '169,810', 'land area': '57.2'}, {'city': 'Springfield', 'state': 'MO', 'population': '169,176', 'land area': '82.4'}, {'city': 'Oceanside', 'state': 'CA', 'population': '174,068', 'land area': '41.3'}, {'city': 'Garden Grove', 'state': 'CA', 'population': '171,949', 'land area': '18.0'}, {'city': 'Lancaster', 'state': 'CA', 'population': '173,516', 'land area': '94.3'}, {'city': 'Murfreesboro', 'state': 'TN', 'population': '152,769', 'land area': '62.9'}, {'city': 'Palmdale', 'state': 'CA', 'population': '169,450', 'land area': '106.1'}, {'city': 'Corona', 'state': 'CA', 'population': '157,136', 'land area': '39.9'}, {'city': 'Killeen', 'state': 'TX', 'population': '153,095', 'land area': '54.8'}, {'city': 'Salinas', 'state': 'CA', 'population': '163,542', 'land area': '23.5'}, {'city': 'Roseville', 'state': 'CA', 'population': '147,773', 'land area': '44.1'}, {'city': 'Denton', 'state': 'TX', 'population': '139,869', 'land area': '96.4'}, {'city': 'Surprise', 'state': 'AZ', 'population': '143,148', 'land area': '110.3'}, {'city': 'Macon', 'state': 'GA', 'population': '157,346', 'land area': '249.4'}, {'city': 'Paterson', 'state': 'NJ', 'population': '159,732', 'land area': '8.4'}, {'city': 'Lakewood', 'state': 'CO', 'population': '155,984', 'land area': '43.5'}, {'city': 'Hayward', 'state': 'CA', 'population': '162,954', 'land area': '45.8'}, {'city': 'Charleston', 'state': 'SC', 'population': '150,227', 'land area': '114.8'}, {'city': 'Alexandria', 'state': 'VA', 'population': '159,467', 'land area': '14.9'}, {'city': 'Hollywood', 'state': 'FL', 'population': '153,067', 'land area': '27.3'}, {'city': 'Springfield', 'state': 'MA', 'population': '155,929', 'land area': '31.9'}, {'city': 'Kansas City', 'state': 'KS', 'population': '156,607', 'land area': '124.7'}, {'city': 'Sunnyvale', 'state': 'CA', 'population': '155,805', 'land area': '22.1'}, {'city': 'Bellevue', 'state': 'WA', 'population': '151,854', 'land area': '33.5'}, {'city': 'Joliet', 'state': 'IL', 'population': '150,362', 'land area': '64.5'}, {'city': 'Naperville', 'state': 'IL', 'population': '149,540', 'land area': '39.1'}, {'city': 'Escondido', 'state': 'CA', 'population': '151,038', 'land area': '37.3'}, {'city': 'Bridgeport', 'state': 'CT', 'population': '148,654', 'land area': '16.1'}, {'city': 'Savannah', 'state': 'GA', 'population': '147,780', 'land area': '106.8'}, {'city': 'Olathe', 'state': 'KS', 'population': '141,290', 'land area': '61.9'}, {'city': 'Mesquite', 'state': 'TX', 'population': '150,108', 'land area': '48.5'}, {'city': 'Pasadena', 'state': 'TX', 'population': '151,950', 'land area': '43.7'}, {'city': 'McAllen', 'state': 'TX', 'population': '142,210', 'land area': '62.3'}, {'city': 'Rockford', 'state': 'IL', 'population': '148,655', 'land area': '64.5'}, {'city': 'Gainesville', 'state': 'FL', 'population': '141,085', 'land area': '63.2'}, {'city': 'Syracuse', 'state': 'NY', 'population': '148,620', 'land area': '25.1'}, {'city': 'Pomona', 'state': 'CA', 'population': '151,713', 'land area': '23.0'}, {'city': 'Visalia', 'state': 'CA', 'population': '141,384', 'land area': '37.9'}, {'city': 'Thornton', 'state': 'CO', 'population': '141,867', 'land area': '35.9'}, {'city': 'Waco', 'state': 'TX', 'population': '138,486', 'land area': '88.7'}, {'city': 'Jackson', 'state': 'MS', 'population': '153,701', 'land area': '111.7'}, {'city': 'Columbia', 'state': 'SC', 'population': '136,632', 'land area': '136.8'}, {'city': 'Lakewood', 'state': 'NJ', 'population': '135,158', 'land area': '24.7'}, {'city': 'Fullerton', 'state': 'CA', 'population': '143,617', 'land area': '22.4'}, {'city': 'Torrance', 'state': 'CA', 'population': '147,067', 'land area': '20.5'}, {'city': 'Victorville', 'state': 'CA', 'population': '134,810', 'land area': '73.7'}, {'city': 'Midland', 'state': 'TX', 'population': '132,524', 'land area': '75.5'}, {'city': 'Orange', 'state': 'CA', 'population': '139,911', 'land area': '25.7'}, {'city': 'Miramar', 'state': 'FL', 'population': '134,721', 'land area': '28.9'}, {'city': 'Hampton', 'state': 'VA', 'population': '137,148', 'land area': '51.5'}, {'city': 'Warren', 'state': 'MI', 'population': '139,387', 'land area': '34.4'}, {'city': 'Stamford', 'state': 'CT', 'population': '135,470', 'land area': '37.6'}, {'city': 'Cedar Rapids', 'state': 'IA', 'population': '137,710', 'land area': '72.1'}, {'city': 'Elizabeth', 'state': 'NJ', 'population': '137,298', 'land area': '12.3'}, {'city': 'Palm Bay', 'state': 'FL', 'population': '119,760', 'land area': '86.4'}, {'city': 'Dayton', 'state': 'OH', 'population': '137,644', 'land area': '55.8'}, {'city': 'New Haven', 'state': 'CT', 'population': '134,023', 'land area': '18.7'}, {'city': 'Coral Springs', 'state': 'FL', 'population': '134,394', 'land area': '22.9'}, {'city': 'Meridian', 'state': 'ID', 'population': '117,635', 'land area': '35.1'}, {'city': 'West Valley City', 'state': 'UT', 'population': '140,230', 'land area': '35.8'}, {'city': 'Pasadena', 'state': 'CA', 'population': '138,699', 'land area': '23.0'}, {'city': 'Lewisville', 'state': 'TX', 'population': '111,822', 'land area': '37.0'}, {'city': 'Kent', 'state': 'WA', 'population': '136,588', 'land area': '33.8'}, {'city': 'Sterling Heights', 'state': 'MI', 'population': '134,346', 'land area': '36.4'}, {'city': 'Fargo', 'state': 'ND', 'population': '125,990', 'land area': '49.8'}, {'city': 'Carrollton', 'state': 'TX', 'population': '133,434', 'land area': '36.7'}, {'city': 'Santa Clara', 'state': 'CA', 'population': '127,647', 'land area': '18.3'}, {'city': 'Round Rock', 'state': 'TX', 'population': '119,468', 'land area': '37.6'}, {'city': 'Norman', 'state': 'OK', 'population': '128,026', 'land area': '178.8'}, {'city': 'Columbia', 'state': 'MO', 'population': '126,254', 'land area': '66.5'}, {'city': 'Abilene', 'state': 'TX', 'population': '125,182', 'land area': '106.7'}, {'city': 'Athens', 'state': 'GA', 'population': '127,315', 'land area': '116.3'}, {'city': 'Pearland', 'state': 'TX', 'population': '125,828', 'land area': '48.7'}, {'city': 'Clovis', 'state': 'CA', 'population': '120,124', 'land area': '25.4'}, {'city': 'Topeka', 'state': 'KS', 'population': '126,587', 'land area': '61.4'}, {'city': 'College Station', 'state': 'TX', 'population': '120,511', 'land area': '51.2'}, {'city': 'Simi Valley', 'state': 'CA', 'population': '126,356', 'land area': '41.5'}, {'city': 'Allentown', 'state': 'PA', 'population': '125,845', 'land area': '17.6'}, {'city': 'West Palm Beach', 'state': 'FL', 'population': '117,415', 'land area': '53.8'}, {'city': 'Thousand Oaks', 'state': 'CA', 'population': '126,966', 'land area': '55.3'}, {'city': 'Vallejo', 'state': 'CA', 'population': '126,090', 'land area': '30.4'}, {'city': 'Wilmington', 'state': 'NC', 'population': '115,451', 'land area': '51.4'}, {'city': 'Rochester', 'state': 'MN', 'population': '121,395', 'land area': '55.5'}, {'city': 'Concord', 'state': 'CA', 'population': '125,410', 'land area': '30.6'}, {'city': 'Lakeland', 'state': 

In [10]:
city = pd.DataFrame(rows)
print(city)

            city state population land area
0       New York    NY  8,804,190     300.5
1    Los Angeles    CA  3,898,747     469.5
2        Chicago    IL  2,746,388     227.7
3        Houston    TX  2,304,580     640.4
4        Phoenix    AZ  1,608,139     518.0
..           ...   ...        ...       ...
331         Yuma    AZ     95,548     120.7
332  New Bedford    MA    101,079      20.0
333      Suffolk    VA     94,324     399.2
334     Hesperia    CA     99,818      72.7
335    Davenport    IA    101,724      63.8

[336 rows x 4 columns]

Hints:

- Each city is a row in the table; find all the `<tr>` tags to find all the cities
- Look for the `<td>` tag to see table entries within a row
- The rank column is represented by `<th>` tags, rather than `<td>` tags. So within a row, the first (that is, `[0]`) `<td>` tag corresponds to the city name.

## Aside: Scraping an HTML table with Pandas

The Pandas command `read_html` can be used to scrape information from an HTML table on a webpage.

We can call `read_html` on the URL.

In [11]:
pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population")

[                    Population tables of U.S. cities
 0  The skyline of New York City, the most populou...
 1                                             Cities
 2  Population AreaDensityEthnic identityForeign-b...
 3                                        Urban areas
 4             Populous cities and metropolitan areas
 5                                 Metropolitan areas
 6  184 combined statistical areas935 core-based s...
 7                                        Megaregions
 8  See related population listsNorth American met...
 9                                                vte,
     0                               1
 0 NaN                   State capital
 1 NaN              State largest city
 2 NaN  State capital and largest city
 3 NaN                 Federal capital,
             City  ST 2023 estimate 2020 census  Change 2020 land area          \
             City  ST 2023 estimate 2020 census  Change            mi2     km2
 0    New York[c]  NY       8258035     8804190  −6.20%          300.5   778.3
 1    Los Angeles  CA       3820914     3898747  −2.00%          469.5  1216.0
 2        Chicago  IL       2664452     2746388  −2.98%          227.7   589.7
 3        Houston  TX       2314157     2304580  +0.42%          640.4  1658.6
 4        Phoenix  AZ       1650070     1608139  +2.61%          518.0  1341.6
 ..           ...  ..           ...         ...     ...            ...     ...
 331         Yuma  AZ        100858       95548  +5.56%          120.7   312.6
 332  New Bedford  MA        100695      101079  −0.38%           20.0    51.8
 333   Suffolk[l]  VA        100659       94324  +6.72%          399.2  1033.9
 334     Hesperia  CA        100633       99818  +0.82%           72.7   188.3
 335    Davenport  IA        100354      101724  −1.35%           63.8   165.2

     2020 density                                      Location
            / mi2  / km2                               Location
 0          29298  11312    40°40′N 73°56′W﻿ / ﻿40.66°N 73.94°W
 1           8304   3206  34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W
 2          12061   4657    41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W
 3           3599   1390    29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W
 4           3105   1199  33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W
 ..           ...    ...                                    ...
 331          792    306  32°31′N 114°31′W﻿ / ﻿32.52°N 114.52°W
 332         5054   1951    41°40′N 70°56′W﻿ / ﻿41.66°N 70.94°W
 333          236     91    36°42′N 76°38′W﻿ / ﻿36.70°N 76.63°W
 334         1373    530  34°24′N 117°19′W﻿ / ﻿34.40°N 117.32°W
 335         1594    615    41°34′N 90°36′W﻿ / ﻿41.56°N 90.60°W

 [336 rows x 10 columns],
         Population  Number of municipal governments
 0       1,000,000+                                9
 1  700,000–999,999                               11
 2  500,000–699,999                               18
 3  400,000–499,999                               11
 4  300,000–399,999                               20
 5  200,000–299,999                               55
 6  100,000–199,999                              212
 7            Total                              336,
                                                 State  Number of listed cities
 0                                          California                       74
 1                                               Texas                       42
 2                                             Florida                       23
 3                                             Arizona                       13
 4                                            Colorado                       12
 5                                      North Carolina                       10
 6                           Massachusetts, Washington                        9
 7                         Georgia, Illinois, Virginia                        8
 8                                Michigan, New Jersey                        7
 9   Missouri, Indiana, New York, Ohio, Oregon, Ten...                        6
 10         Alabama, Connecticut, Kansas, Nevada, Utah                        5
 11                                Louisiana, Oklahoma                        4
 12  Iowa, Idaho, Minnesota, New Mexico, Pennsylvan...                        3
 13                       Arkansas, Kentucky, Nebraska                        2
 14  Alaska, District of Columbia, Hawaii, Maryland...                        1
 15   Delaware, Maine, Vermont, West Virginia, Wyoming                        0,
   Municipio  2023 estimate  2020 census  Change 2020 land area  \
 0  San Juan         333005       342259  −2.70%     39.8 sq mi
 1   Bayamón         180835       185187  −2.35%     27.0 sq mi
 2  Carolina         150843       154815  −2.57%     20.7 sq mi
 3     Ponce         130251       137491  −5.27%     28.4 sq mi
 4    Caguas         124608       127244  −2.07%     10.9 sq mi

   2020 land area.1  2020 density 2020 density.1  \
 0        103.1 km2   8,599/sq mi      3,320/km2
 1         69.9 km2   6,859/sq mi      2,648/km2
 2         53.6 km2   7,479/sq mi      2,888/km2
 3         73.6 km2   4,841/sq mi      1,869/km2
 4         28.2 km2  11,674/sq mi      4,507/km2

                               Location
 0  18°24′N 66°04′W﻿ / ﻿18.40°N 66.06°W
 1  18°23′N 66°10′W﻿ / ﻿18.38°N 66.16°W
 2  18°25′N 65°59′W﻿ / ﻿18.41°N 65.98°W
 3  18°00′N 66°37′W﻿ / ﻿18.00°N 66.62°W
 4  18°14′N 66°02′W﻿ / ﻿18.23°N 66.04°W  ,
    Census- designated place  ST 2020 census 2010 census    Change  \
    Census- designated place  ST 2020 census 2010 census    Change
 0                 Arlington  VA      238643      207627   +14.94%
 1                Enterprise  NV      221831      108481  +104.49%
 2             Spring Valley  NV      215597      178395   +20.85%
 3             Sunrise Manor  NV      205618      189372    +8.58%
 4                  Paradise  NV      191238      223167   −14.31%
 5                  Metairie  LA      143507      138481    +3.63%
 6          East Los Angeles  CA      118786      126496    −6.10%
 7                   Brandon  FL      114626      103483   +10.77%
 8             The Woodlands  TX      114436       93847   +21.94%
 9              Lehigh Acres  FL      114287       86784   +31.69%
 10              Spring Hill  FL      113568       98621   +15.16%
 11                Riverview  FL      107396       71050   +51.16%
 12                 Columbia  MD      104681       99615    +5.09%
 13          Highlands Ranch  CO      103444       96713    +6.96%

    2020 land area          2020 density        \
               mi2      km2        / mi2 / km2
 0            26.0   67.340         9179  3544
 1            66.0  170.939         3361  1298
 2            35.5   91.945         6073  2345
 3            33.7   87.283         6101  2356
 4            42.4  109.815         4510  1740
 5            23.3   60.347         6159  2378
 6             7.5   19.425        15838  6115
 7            33.1   85.729         3463  1337
 8            43.3  112.146         2643  1020
 9            92.7  240.092         1233   476
 10           59.9  155.140         1896   732
 11           46.2  119.657         2325   898
 12           31.9   82.621         3282  1267
 13           24.3   62.937         4257  1644

                                  Location
                                  Location
 0     38°53′N 77°06′W﻿ / ﻿38.88°N 77.10°W
 1   36°01′N 115°14′W﻿ / ﻿36.01°N 115.23°W
 2   36°06′N 115°16′W﻿ / ﻿36.10°N 115.26°W
 3   36°11′N 115°03′W﻿ / ﻿36.18°N 115.05°W
 4   36°05′N 115°08′W﻿ / ﻿36.09°N 115.14°W
 5     30°00′N 90°11′W﻿ / ﻿30.00°N 90.18°W
 6   34°02′N 118°10′W﻿ / ﻿34.03°N 118.17°W
 7     27°56′N 82°18′W﻿ / ﻿27.94°N 82.30°W
 8     30°10′N 95°31′W﻿ / ﻿30.17°N 95.51°W
 9     26°37′N 81°38′W﻿ / ﻿26.61°N 81.64°W
 10    28°29′N 82°32′W﻿ / ﻿28.48°N 82.53°W
 11    27°49′N 82°18′W﻿ / ﻿27.82°N 82.30°W
 12    39°12′N 76°52′W﻿ / ﻿39.20°N 76.86°W
 13  39°32′N 104°58′W﻿ / ﻿39.54°N 104.97°W  ,
               City  ST  2023 estimate  Peak population % decline from peak  \
 0        Allegheny  PA            NaN           129896                 NaN
 1         Brooklyn  NY            NaN           806343                 NaN
 2           Camden  NJ        71100.0           124555             −42.92%
 3           Canton  OH        69197.0           116912             −40.81%
 4   Citrus Heights  CA        86239.0           107439             −19.73%
 5        Daly City  CA        99833.0           104901              −4.83%
 6           Duluth  MN        87680.0           107312             −18.29%
 7             Erie  PA        92957.0           138440             −32.85%
 8       Fall River  MA        93840.0           120485             −22.11%
 9      Federal Way  WA        97701.0           101030              −3.30%
 10           Flint  MI        79661.0           196940             −59.55%
 11            Gary  IN        67652.0           178320             −62.06%
 12         Hammond  IN        76193.0           111698             −31.79%
 13         Livonia  MI        92185.0           110109             −16.28%
 14   Niagara Falls  NY        47599.0           102394             −53.51%
 15         Norwalk  CA        98078.0           105549              −7.08%
 16           Parma  OH        78951.0           100216             −21.22%
 17      Portsmouth  VA        97454.0           114773             −15.09%
 18         Reading  PA        94903.0           111171             −14.63%
 19         Roanoke  VA        99578.0           100220              −0.64%
 20        Scranton  PA        75805.0           143333             −47.11%
 21      Somerville  MA        80407.0           103908             −22.62%
 22      St. Joseph  MO        70634.0           102979             −31.41%
 23         Trenton  NJ        89620.0           128009             −29.99%
 24           Utica  NY        63607.0           101740             −37.48%
 25      Wilmington  DE        71675.0           112504             −36.29%
 26      Youngstown  OH        59108.0           170002             −65.23%

     Peak year Unnamed: 6
 0        1907        [z]
 1        1898       [aa]
 2        1950        NaN
 3        1950        NaN
 4        1990        NaN
 5        2020        NaN
 6        1960        NaN
 7        1960        NaN
 8        1920        NaN
 9        2020        NaN
 10       1960        NaN
 11       1960        NaN
 12       1960        NaN
 13       1970        NaN
 14       1960        NaN
 15       2010        NaN
 16       1970        NaN
 17       1960        NaN
 18       1930        NaN
 19       1980        NaN
 20       1930        NaN
 21       1930        NaN
 22       1900       [ab]
 23       1950        NaN
 24       1930        NaN
 25       1940        NaN
 26       1930        NaN  ,
   vteThe 100 most populous cities of the United States  \
 0  New York, New York Los Angeles, California Chi...
 1                                                NaN
 2  Cities ranked by United States Census Bureau p...

   vteThe 100 most populous cities of the United States.1  \
 0  New York, New York Los Angeles, California Chi...
 1  New York, New York Los Angeles, California Chi...
 2  Cities ranked by United States Census Bureau p...

                                           Unnamed: 2  \
 0                                                NaN
 1  Portland, Oregon Louisville, Kentucky Memphis,...
 2                                                NaN

                                           Unnamed: 3  \
 0                                                NaN
 1  Arlington, Texas Aurora, Colorado New Orleans,...
 2                                                NaN

                                           Unnamed: 4
 0                                                NaN
 1  Chandler, Arizona North Las Vegas, Nevada Chul...
 2                                                NaN  ,
     0                                                  1  \
 0 NaN  New York, New York Los Angeles, California Chi...

                                                    2  \
 0  Portland, Oregon Louisville, Kentucky Memphis,...

                                                    3  \
 0  Arlington, Texas Aurora, Colorado New Orleans,...

                                                    4
 0  Chandler, Arizona North Las Vegas, Nevada Chul...  ]

However, this scrapes all the tables on the webpage, not just the one we want. As with Beautiful Soup, we can narrow the search by specifying the table attributes.

In [12]:
pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population", attrs = {'class': 'wikitable', "style": "text-align:right"})

[            City  ST 2023 estimate 2020 census  Change 2020 land area          \
             City  ST 2023 estimate 2020 census  Change            mi2     km2
 0    New York[c]  NY       8258035     8804190  −6.20%          300.5   778.3
 1    Los Angeles  CA       3820914     3898747  −2.00%          469.5  1216.0
 2        Chicago  IL       2664452     2746388  −2.98%          227.7   589.7
 3        Houston  TX       2314157     2304580  +0.42%          640.4  1658.6
 4        Phoenix  AZ       1650070     1608139  +2.61%          518.0  1341.6
 ..           ...  ..           ...         ...     ...            ...     ...
 331         Yuma  AZ        100858       95548  +5.56%          120.7   312.6
 332  New Bedford  MA        100695      101079  −0.38%           20.0    51.8
 333   Suffolk[l]  VA        100659       94324  +6.72%          399.2  1033.9
 334     Hesperia  CA        100633       99818  +0.82%           72.7   188.3
 335    Davenport  IA        100354      101724  −1.35%           63.8   165.2

     2020 density                                      Location
            / mi2  / km2                               Location
 0          29298  11312    40°40′N 73°56′W﻿ / ﻿40.66°N 73.94°W
 1           8304   3206  34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W
 2          12061   4657    41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W
 3           3599   1390    29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W
 4           3105   1199  33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W
 ..           ...    ...                                    ...
 331          792    306  32°31′N 114°31′W﻿ / ﻿32.52°N 114.52°W
 332         5054   1951    41°40′N 70°56′W﻿ / ﻿41.66°N 70.94°W
 333          236     91    36°42′N 76°38′W﻿ / ﻿36.70°N 76.63°W
 334         1373    530  34°24′N 117°19′W﻿ / ﻿34.40°N 117.32°W
 335         1594    615    41°34′N 90°36′W﻿ / ﻿41.56°N 90.60°W

 [336 rows x 10 columns],
   Municipio  2023 estimate  2020 census  Change 2020 land area  \
 0  San Juan         333005       342259  −2.70%     39.8 sq mi
 1   Bayamón         180835       185187  −2.35%     27.0 sq mi
 2  Carolina         150843       154815  −2.57%     20.7 sq mi
 3     Ponce         130251       137491  −5.27%     28.4 sq mi
 4    Caguas         124608       127244  −2.07%     10.9 sq mi

   2020 land area.1  2020 density 2020 density.1  \
 0        103.1 km2   8,599/sq mi      3,320/km2
 1         69.9 km2   6,859/sq mi      2,648/km2
 2         53.6 km2   7,479/sq mi      2,888/km2
 3         73.6 km2   4,841/sq mi      1,869/km2
 4         28.2 km2  11,674/sq mi      4,507/km2

                               Location
 0  18°24′N 66°04′W﻿ / ﻿18.40°N 66.06°W
 1  18°23′N 66°10′W﻿ / ﻿18.38°N 66.16°W
 2  18°25′N 65°59′W﻿ / ﻿18.41°N 65.98°W
 3  18°00′N 66°37′W﻿ / ﻿18.00°N 66.62°W
 4  18°14′N 66°02′W﻿ / ﻿18.23°N 66.04°W  ,
               City  ST  2023 estimate  Peak population % decline from peak  \
 0        Allegheny  PA            NaN           129896                 NaN
 1         Brooklyn  NY            NaN           806343                 NaN
 2           Camden  NJ        71100.0           124555             −42.92%
 3           Canton  OH        69197.0           116912             −40.81%
 4   Citrus Heights  CA        86239.0           107439             −19.73%
 5        Daly City  CA        99833.0           104901              −4.83%
 6           Duluth  MN        87680.0           107312             −18.29%
 7             Erie  PA        92957.0           138440             −32.85%
 8       Fall River  MA        93840.0           120485             −22.11%
 9      Federal Way  WA        97701.0           101030              −3.30%
 10           Flint  MI        79661.0           196940             −59.55%
 11            Gary  IN        67652.0           178320             −62.06%
 12         Hammond  IN        76193.0           111698             −31.79%
 13         Livonia  MI        92185.0           110109             −16.28%
 14   Niagara Falls  NY        47599.0           102394             −53.51%
 15         Norwalk  CA        98078.0           105549              −7.08%
 16           Parma  OH        78951.0           100216             −21.22%
 17      Portsmouth  VA        97454.0           114773             −15.09%
 18         Reading  PA        94903.0           111171             −14.63%
 19         Roanoke  VA        99578.0           100220              −0.64%
 20        Scranton  PA        75805.0           143333             −47.11%
 21      Somerville  MA        80407.0           103908             −22.62%
 22      St. Joseph  MO        70634.0           102979             −31.41%
 23         Trenton  NJ        89620.0           128009             −29.99%
 24           Utica  NY        63607.0           101740             −37.48%
 25      Wilmington  DE        71675.0           112504             −36.29%
 26      Youngstown  OH        59108.0           170002             −65.23%

     Peak year Unnamed: 6
 0        1907        [z]
 1        1898       [aa]
 2        1950        NaN
 3        1950        NaN
 4        1990        NaN
 5        2020        NaN
 6        1960        NaN
 7        1960        NaN
 8        1920        NaN
 9        2020        NaN
 10       1960        NaN
 11       1960        NaN
 12       1960        NaN
 13       1970        NaN
 14       1960        NaN
 15       2010        NaN
 16       1970        NaN
 17       1960        NaN
 18       1930        NaN
 19       1980        NaN
 20       1930        NaN
 21       1930        NaN
 22       1900       [ab]
 23       1950        NaN
 24       1930        NaN
 25       1940        NaN
 26       1930        NaN  ]

This still returns 3 tables. As we remarked above, the table that we want is the first one (see `[0]` below).

In [13]:
df_cities2 = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population", attrs = {'class': 'wikitable', "style": "text-align:right"})[0]
df_cities2

            City  ST 2023 estimate 2020 census  Change 2020 land area          \
            City  ST 2023 estimate 2020 census  Change            mi2     km2
0    New York[c]  NY       8258035     8804190  −6.20%          300.5   778.3
1    Los Angeles  CA       3820914     3898747  −2.00%          469.5  1216.0
2        Chicago  IL       2664452     2746388  −2.98%          227.7   589.7
3        Houston  TX       2314157     2304580  +0.42%          640.4  1658.6
4        Phoenix  AZ       1650070     1608139  +2.61%          518.0  1341.6
..           ...  ..           ...         ...     ...            ...     ...
331         Yuma  AZ        100858       95548  +5.56%          120.7   312.6
332  New Bedford  MA        100695      101079  −0.38%           20.0    51.8
333   Suffolk[l]  VA        100659       94324  +6.72%          399.2  1033.9
334     Hesperia  CA        100633       99818  +0.82%           72.7   188.3
335    Davenport  IA        100354      101724  −1.35%           63.8   165.2

    2020 density                                      Location
           / mi2  / km2                               Location
0          29298  11312    40°40′N 73°56′W﻿ / ﻿40.66°N 73.94°W
1           8304   3206  34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W
2          12061   4657    41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W
3           3599   1390    29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W
4           3105   1199  33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W
..           ...    ...                                    ...
331          792    306  32°31′N 114°31′W﻿ / ﻿32.52°N 114.52°W
332         5054   1951    41°40′N 70°56′W﻿ / ﻿41.66°N 70.94°W
333          236     91    36°42′N 76°38′W﻿ / ﻿36.70°N 76.63°W
334         1373    530  34°24′N 117°19′W﻿ / ﻿34.40°N 117.32°W
335         1594    615    41°34′N 90°36′W﻿ / ﻿41.56°N 90.60°W

[336 rows x 10 columns]

Wait, that seemed much easier than using Beautiful Soup, and it returned a data frame, and we even got for free some formatting like removing the commas from the population! Why didn't we just use `read_html` in the first place? It's true the `read_html` works well when scraping information from an HTML *table*. Unfortunately, you often want to scrape information from a webpage that isn't conveniently stored in an HTML table, in which case `read_html` won't work. (It only searches for `<table>`, `<th>`, `<tr>`, and `<td>` tags, but there are many other HTML tags.) Though Beautiful Soup is not as simple as `read_html`, it is more flexible and thus more widely applicable.

## Scraping information that is NOT in a `<table>` with Beautiful Soup

The Cal Poly course catalog http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory contains a list of courses offered by the Statistics department. **You will scrape this website to obtain a Pandas data frame with one row for each DATA or STAT course and two columns: course name and number (e.g, DATA 301. Introduction to Data Science) and term typically offered (e.g., Term Typically Offered: F, W, SP).**

Note: Pandas `read_html` is not help here since the courses are not stored in a `<table>.`

In [14]:
pd.read_html("http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory")

[                                        Program name   Program type
 0                              Actuarial Preparation          Minor
 1  Cross Disciplinary Studies Minor in Bioinforma...          Minor
 2   Cross Disciplinary Studies Minor in Data Science          Minor
 3                                         Statistics  BS, MS, Minor]


Notes/suggestions:


- Inspect the page source as you write your code
- The courses are not stored in a `<table>`. How are they stored?
- You will need to write a loop to get the information for all courses, but you might want to try just scraping the info for DATA 100 first
- What kind of tag is the course name stored in? What is the `class` of the tag?
- What kind of tag is the quarter(s) the course is offered stored in? What is the `class` of the tag? Is this the only tag of this type with the class? How will you get the one you want?
- You don't have to remove the number of units (e.g., 4 units) from the course name and number, but you can try it if you want
- You will need to pull the text from the tag. If `.text` returns text with "\n" at the end, try `get_text(strip = True)` instead of `text`
- Don't forget to convert to a Pandas Data Frame; it should have 74 rows and 2 columns
- The goal of this exercise is just to create the Data Frame. If you were going to use it then you might need to clean the data first. (You can use Beautiful Soup to do some of the cleaning for you, but that goes beyond our scope.)

In [15]:
response2 = requests.get("http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory")

soup2 = BeautifulSoup(response2.text, 'html.parser')

In [16]:
rows2 = []

# Iterate over each 'courseblock' div
for course in soup2.find_all("div", class_="courseblock"):
    
    # Extract the course title (might contain both the course name and number)
    course_title_tag = course.find("p", class_="courseblocktitle")
    
    # If there is a span containing course hours, remove it
    if course_title_tag:
        course_hours_span = course_title_tag.find("span", class_="courseblockhours")
        if course_hours_span:
            course_hours_span.extract()  # Removes the span tag from the title
        
        # Now, extract just the course title text
        course_title = course_title_tag.get_text(strip=True)
    else:
        course_title = "Title Not Available"
    
    # Extract the term information from the "noindent" paragraph
    course_term_tag = course.find("p", class_="noindent")
    course_term = course_term_tag.get_text(strip=True) if course_term_tag else "Not Available"
    
    # Append the extracted information to the list, excluding course hours
    rows2.append({
        "course_title": course_title,
        "course_term": course_term
    })

# Output the extracted data (for example, print the first 5 rows)
for row in rows2[:5]:
    print(row)

{'course_title': 'DATA\xa0100. Data Science for All I.', 'course_term': 'Term Typically Offered: F, W, SP'}
{'course_title': 'DATA\xa0301. Introduction to Data Science.', 'course_term': 'Term Typically Offered: F, W, SP'}
{'course_title': 'DATA\xa0401. Data Science Process and Ethics.', 'course_term': 'Term Typically Offered: F'}
{'course_title': 'DATA\xa0402. Mathematical Foundations of Data Science.', 'course_term': 'Term Typically Offered: F'}
{'course_title': 'DATA\xa0403. Data Science Projects Laboratory.', 'course_term': 'Term Typically Offered: F'}

In [17]:
catalog = pd.DataFrame(rows2)
print(catalog)

                                         course_title  \
0                   DATA 100. Data Science for All I.
1             DATA 301. Introduction to Data Science.
2          DATA 401. Data Science Process and Ethics.
3   DATA 402. Mathematical Foundations of Data Sci...
4         DATA 403. Data Science Projects Laboratory.
..                                                ...
69             STAT 551. Statistical Learning with R.
70           STAT 566. Graduate Consulting Practicum.
71                STAT 570. Selected Advanced Topics.
72          STAT 590. Graduate Seminar in Statistics.
73                                  STAT 599. Thesis.

                         course_term
0   Term Typically Offered: F, W, SP
1   Term Typically Offered: F, W, SP
2          Term Typically Offered: F
3          Term Typically Offered: F
4          Term Typically Offered: F
..                               ...
69         Term Typically Offered: F
70        Term Typically Offered: SP
71       Term Typically Offered: TBD
72  Term Typically Offered: F, W, SP
73       Term Typically Offered: TBD

[74 rows x 2 columns]

Hints:

- Each course is represented by a `<div>` with `class=courseblock`, so you can find all the courses with `soup.find_all("div", {"class": "courseblock"})`
- The course name is in a `<p>` tag with `class=courseblocktitle`, inside a `<strong>` tag. (Though I don't think we need to find the strong tag here.)
- The term typically offered is in `<p>` tag with `class=noindent`. However, there are several tags with this class; term typically offered is the first one.
- If you want to use Beautiful Soup to remove the course units (e.g., 4 units), find the `<span>` tag within the course name tag and `.extract()` this span tag